<body class="body7">
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
            class="flicker-fast">H</span>AVEN</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li>
						<a href="profile.html">Profile</a>
					</li>
        <li>
          <a href="members.html">News</a>
        </li>
         <li>
          <a href="addgame.html">Game List</a>
        </li>
        <li>
          <a href="logout">Log out</a>
        </li>
      </ul>
      </div>
    </nav>
  </header>

  <div class="container flow-text">
    <h1 class="text-center">Public Reviews!</h1>

        <ul id="public-reviews">
          {{#each games}}
          {{!-- {{#unless this.dataValues.review = null}} --}}
          <li>
            <h4><span class="label">Title:</span> {{this.dataValues.title}}</h4>
            <h5><span class="label">platform:</span> {{this.dataValues.platform}}</h5>
            <p><span class="label">review:</span> {{this.dataValues.review}}</p>
            <p><span class="label">rating:</span> {{this.dataValues.rating}}</p>
             <h5><span class="label">User:</span> {{this.dataValues.UserId}}</h5>
            <br>
          </li>
          {{/each}}

        </ul>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/profile.js"></script>
</body>