<body class="body7">
  <header>
    <nav>
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left neon" data-text="U">GA<span class="flicker-slow">M</span>E<span
            class="flicker-fast">H</span>AVEN</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li>
            <a href="members.html">News</a>
          </li>
          <li>
            <a href="addgame.html">Add Game</a>
          </li>
          <li>
            <a href="gamepage.html">Public Reviews</a>
          </li>
          <li>
            <a href="logout">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container flow-text">
    <h1 class="text-center">Users play lists</h1>


    <div class="row">
      <div class="col text-left" style="background-color:rgba(255, 255, 255, 0.76)">
        <h2>Future Plays:</h2>
        <ul id="not-played">
          {{#each games}}
          {{#unless this.dataValues.played}}
          <li>
            <h4><span class="label">Title:</span> {{this.dataValues.title}}</h4>
            <h5><span class="label">platform:</span> {{this.dataValues.platform}}</h5>

            <button class="played" data-id="{{this.dataValues.id}}">
              played!
            </button>

          </li>
          {{/unless}}
          {{/each}}

        </ul>
      </div>

      <div class="col text-right" style="background-color:rgba(255, 255, 255, 0.76)">
        <h2 class="red-text">Games played:</h2>

        <ul id="played">
          {{#each games}}
          {{#if this.dataValues.played}}
          <li>
            <h4><span class="label">Title:</span> {{this.dataValues.title}}</h4>
            <p><span class="label">Review:</span> {{this.dataValues.review}}</p>
            <h5><span class="label">Rating:</span> {{this.dataValues.rating}}</h5>

            <button class="edit" data-id="{{this.dataValues.id}}">
              edit
            </button>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/profile.js"></script>
</body>